.student {
    border: 1px solid #ccc;
    margin: 1em;
    padding: 1em;
    max-width: 30em;
}

.student:hover {
    background-color: rgba(150,150,150,0.2);
}

.fail {
    border-color: darkred;
}

.student h1 {
    border-bottom: 1px solid #ccc;
    font-size: 1.5em;
    padding: 0.2em;
    margin: 0;
}

.result::after {
    content:" / 100";
}

.grade {
    color: orange;
    font-weight: bold;
}

